simulation:
  runtime: 600 # in seconds
  area: 1500 # x and y translation in meter of selected area
  area_selection: random # random, center, all
  verbose: False # True, False
  scenario: berlin # berlin, germany
  discovery_protocol: random # baseline, vivaldi, meridian, random
clients:
  path: data/reduced_berlin_v5.4-10pct.plans.xml
  max_clients: None # None if no max clients, else integer
  client_ratio: 1.0 # Float between [0,1]
  latency_threshold: 0.005 # in seconds
  roundtrip_threshold: 0.010
  timeout_threshold: 0.100
nodes:
  path: data/cell_towers/cell_towers.shp
  min_nodes: 1 # None if no min nodes, else integer
  max_nodes: None # None if no max nodes, else integer  
  slot_scaler: 1 # Non-negative Number
  unlimited_bandwidth: False # True, False
map: # Only accounts for the clients in the Berlin scenario 
  x_min: 4573063.1296 # For Berlin
  x_max: 4620052.7497 # For Berlin
  y_min: 5800675.0537 # For Berlin
  y_max: 5839575.7712 # For Berlin

